@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
        url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    max-width: 100%;
    border-bottom: 4px solid #3596F5;
    background-color: #635854;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    padding-top: 5px;
}

.navbar__menu {
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.navbar__link {
    color: #fff;
    font-weight: 400;
}

.navbar__contacts {
    text-align: right;
}

.navbar__text {
    display: block;
    color: #fff;
    font-size: 14px;
    margin-bottom: 4px;
}

.navbar__phone {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

.main {
    padding-top: 54px;
    padding-bottom: 100px;
}

.main__block {
    display: flex;
    justify-content: space-between;
}

.building__image path {
    opacity: 0;
    cursor: pointer;
}

.building__image path:hover {
    opacity: 1;
}

.main__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.main__title {
    margin: 0;
    margin-top: 68px;
    color: #635854;
    font-family: "Bebas Neue",
        sans-serif;
    font-weight: 400;
    font-size: 37px;
}

.counter__groupe {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button__counter {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.counter {
    color: #635854;
    font-size: 75px;
    font-family: "Bebas Neue",
        sans-serif;
    font-weight: 400;
}

.counter_down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.button__primary {
    margin-bottom: 66px;
    padding: 16px 36px;
    border: none;
    border-radius: 6px;
    background-color: #3596F5;
    color: #fff;
}